.container {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.section {
	width: 8rem;
	margin: 0.1rem;
	padding: 0.5rem;
	box-shadow: 5px 5px 10px #c0c0c0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	font-weight: bold;
	cursor: pointer;
}

.dropdown {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

.dropdown_wrapper {
	display: flex;
	flex-direction: column;
}
